!channel-artifacts/README
!system-genesis-block/README
!chaincode
channel-artifacts/*.json
channel-artifacts/*.tx
system-genesis-block/*.json
system-genesis-block/*.block
!org*-client/peer.env
!org*-client/scripts/
org*-client/*/msp/*
org*-client/*/tls/*
org*-client/tmp/*